Change the path first

In [16]:
import os
path="C:\Springboard\Github\SQL_project"
os.chdir(path)

In [17]:
# import sqlite3
import sqlite3
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [28]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, SUM(
        CASE WHEN memid = 0 THEN guestcost
            ELSE membercost END) as revenue
        FROM FACILITIES
        INNER JOIN Bookings
        USING (facid)
        GROUP BY name
        ORDER BY revenue
        LIMIT 4
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("10. facilities with a total revenue less than 1000.")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
10. facilities with a total revenue less than 1000.
('Table Tennis', 90)
('Snooker Table', 115)
('Pool Table', 265)
('Badminton Court', 604.5)

I hacked my way through that; there is definitely a better way.

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [32]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT surname, firstname, recommendedby
        FROM Members
        ORDER BY surname, firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("11. Members and the member ID of who recommended them.")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
11. Members and the member ID of who recommended them.
('Bader', 'Florence', '9')
('Baker', 'Anne', '9')
('Baker', 'Timothy', '13')
('Boothe', 'Tim', '3')
('Butters', 'Gerald', '1')
('Coplin', 'Joan', '16')
('Crumpet', 'Erica', '2')
('Dare', 'Nancy', '4')
('Farrell', 'David', '')
('Farrell', 'Jemima', '')
('GUEST', 'GUEST', '')
('Genting', 'Matthew', '5')
('Hunt', 'John', '30')
('Jones', 'David', '4')
('Jones', 'Douglas', '11')
('Joplette', 'Janice', '1')
('Mackenzie', 'Anna', '1')
('Owen', 'Charles', '1')
('Pinker', 'David', '13')
('Purview', 'Millicent', '2')
('Rownam', 'Tim', '')
('Rumney', 'Henrietta', '20')
('Sarwin', 'Ramnaresh', '15')
('Smith', 'Darren', '')
('Smith', 'Darren', '')
('Smith', 'Jack', '1')
('Smith', 'Tracy', '')
('Stibbons', 'Ponder', '6')
('Tracy', 'Burton', '')
('Tupperware', 'Hyacinth', '')
('Worthington-Smyth', 'Henry', '2')

I think you also want the name of the member that recommended them, so I will expand if possible.

In [36]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT M1.surname, M1.firstname, M2.surname, M2.firstname
        FROM Members as M1
        INNER JOIN Members as M2
            ON M1.recommendedby = M2.memid
        ORDER BY M1.surname, M1.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("11. Members and the member who recommended them.")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
11. Members and the member who recommended them.
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

/* Q12: Find the facilities with their usage by member, but not guests */

In [41]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, COUNT(
            CASE WHEN memid > 0 THEN 1
                ELSE NULL END) as usage
        FROM Facilities as f
        INNER JOIN Bookings USING (facid)
        GROUP BY name
        ORDER BY usage DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("12. Facilities and use by members.")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
12. Facilities and use by members.
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

/* Q13: Find the facilities usage by month, but not guests */

In [46]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, strftime('%m', starttime) AS month, COUNT(
            CASE WHEN memid > 0 THEN 1
                ELSE NULL END) as usage
        FROM Facilities as f
        INNER JOIN Bookings USING (facid)
        GROUP BY name, month
        ORDER BY usage DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("13. Facilities usage per month by members.")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
13. Facilities usage per month by members.
('Pool Table', '09', 408)
('Pool Table', '08', 272)
('Snooker Table', '09', 199)
('Table Tennis', '09', 194)
('Massage Room 1', '09', 191)
('Badminton Court', '09', 161)
('Snooker Table', '08', 154)
('Massage Room 1', '08', 153)
('Table Tennis', '08', 143)
('Badminton Court', '08', 132)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Pool Table', '07', 103)
('Squash Court', '09', 87)
('Squash Court', '08', 85)
('Massage Room 1', '07', 77)
('Snooker Table', '07', 68)
('Tennis Court 1', '07', 65)
('Badminton Court', '07', 51)
('Table Tennis', '07', 48)
('Tennis Court 2', '07', 41)
('Squash Court', '07', 23)
('Massage Room 2', '09', 14)
('Massage Room 2', '08', 9)
('Massage Room 2', '07', 4)

And that's it!